@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Muller';
  src: url('fonts/Fontfabric - MullerRegular.otf') format('truetype'),
  url('fonts/Fontfabric - MullerRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller-medium';
  src: url('fonts/Fontfabric - MullerMedium.otf') format('truetype'),
  url('fonts/Fontfabric - MullerMedium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller-bold';
  src: url('fonts/Fontfabric - MullerBold.otf') format('truetype'),
  url('fonts/Fontfabric - MullerBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#app {
  /*max-width: 1280px;*/
  /*margin: 0 16px;*/
  padding: 0 16px;
  font-size: 16px;
  font-weight: normal;
  /*height: 100vw;*/
  font-family: "Muller", serif;
  background-color: #162554;
  display: flex;
  flex-direction: column;
  gap: 100px;
}



a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
